.Menu {
    display: flex;
  }
  
  .Menu > div {
    flex: 1;
  }
  
  template{
    display: flex;
  }
  
  .template > element {
    flex: 1;
  }
  
  .button1{
    width: 5%;

    padding: 0px;
    margin: 4px;
    border-radius: 5px;
  }
.todos{
display: flex;
flex: 1;


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

  @media only screen and (max-width: 600px) {
  body {
    background-color: rgb(16, 167, 218);
  }
}

}